includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    paths: [src, tests]
    excludePaths:
        analyse:
            - src/Kernel.php
            - tests/bootstrap.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
